@model Web.Models.ApplyAuthorViewModel
<!-- start banner Area -->
<section class="banner-area relative blog-home-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
                <h1 class="text-white">
                    Inspire. Teach. Transform.
                </h1>
                <p class="text-white">
                    Join our author network and share your knowledge with learners worldwide.
                </p>
                <a href="#ApplyBecomeAnInstructor" class="genric-btn primary radius">Apply now</a>
            </div>
        </div>
    </div>
</section>
<section class="top-category-widget-area pt-90 pb-90 ">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" target="_blank">
                            <div class="thumb">
                                <img class="content-image img-fluid d-block mx-auto" src="~/img/blog/cat-widget1.jpg" alt="">
                            </div>
                            <div class="content-details">
                                <h4 class="content-title mx-auto text-uppercase">Social life</h4>
                                <span></span>
                                <p>Enjoy your social life together</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" target="_blank">
                            <div class="thumb">
                                <img class="content-image img-fluid d-block mx-auto" src="~/img/blog/cat-widget2.jpg" alt="">
                            </div>
                            <div class="content-details">
                                <h4 class="content-title mx-auto text-uppercase">Politics</h4>
                                <span></span>
                                <p>Be a part of politics</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" target="_blank">
                            <div class="thumb">
                                <img class="content-image img-fluid d-block mx-auto" src="~/img/blog/cat-widget3.jpg" alt="">
                            </div>
                            <div class="content-details">
                                <h4 class="content-title mx-auto text-uppercase">Food</h4>
                                <span></span>
                                <p>Let the food be finished</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End top-category-widget Area -->
<section class="course-mission-area pb-120">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Goals to Achieve for the leadership</h1>
                    <p>Who are in extremely love with eco friendly system.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 accordion-left">

                <!-- accordion 2 start-->
                <dl class="accordion">
                    <dt>
                        <a href="#" class="">What makes a good author?</a>
                    </dt>
                    <dd style="display: none;">
                        The authors are amazing teachers with a passion to share their expertise with the world. They use storytelling, enthusiasm, and expertise to communicate concepts and demonstrate tasks and techniques. Their ability to communicate, and their passion for their topic, makes them amongst the best in the industry.
                    </dd>
                    <dt>
                        <a href="#" class="">Who will see my videos?</a>
                    </dt>
                    <dd style="display: none;">
                        Pluralsight reaches more than 16,000 business customers in over 150 countries. Some learners are independent, and some work for the enterprise accounts who subscribe to our library. Some of our customers are just getting started in their careers—and others are looking to make a change for themselves. Some want to expand their horizons, and others want to expand their opportunities. Our mission is to make the best in professional education available to them all.
                    </dd>
                    <dt>
                        <a href="#" class="">How does a new author get started?</a>
                    </dt>
                    <dd style="display: none;">
                        An editor will work with you to create a short audition video where you show us your stuff and get to experience what authoring for Pluralsight is like. We want to experience your enthusiasm, and see your teaching skills in action. We have a very short audition kit to help get you started, and your audition won’t require you to buy any specialized hardware or software.
                    </dd>
                    <dt>
                        <a href="#">How long does it take to create a course?</a>
                    </dt>
                    <dd style="display: block;">
                        It depends! We’ll work with you to set reasonable expectations for your first course. Courses are obviously of varying lengths, and different authors are able to commit different amounts of time each week. We’ll work with you to set reasonable expectations for your first course, and you’ll probably find that you get faster with each course you complete.
                    </dd>
                </dl>
                <!-- accordion 2 end-->
            </div>
            <div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">
                <div class="overlay overlay-bg"></div>
                <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="~/img/play.png" alt=""></a>
            </div>
        </div>
    </div>
</section>

<section id="ApplyBecomeAnInstructor" class="search-course-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-6 col-md-6 search-course-left">
                <h1 class="text-white">
                    Get reduced fee <br>
                    during this Summer!
                </h1>
                <p>
                    inappropriate behavior is often laughed off as “boys will be boys,” women face higher conduct standards especially in the workplace. That’s why it’s crucial that, as women, our behavior on the job is beyond reproach.
                </p>
                <div class="row details-content">
                    <div class="col single-detials">
                        <span class="lnr lnr-graduation-hat"></span>
                        <a href="#"><h4>Expert Instructors</h4></a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                    <div class="col single-detials">
                        <span class="lnr lnr-license"></span>
                        <a href="#"><h4>Certification</h4></a>
                        <p>
                            Usage of the Internet is becoming more common due to rapid advancement of technology and power.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 search-course-right section-gap">
                <form class="form-wrap" method="post" action="@Url.Action("Apply")">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <h4 class="text-white pb-20 text-center mb-30">Search for Available Course</h4>
                    <input type="text" class="form-control" name="name" placeholder="Your Name" value="@Model.Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Name'">
                    <input type="text" class="form-control" name="Phone" placeholder="Your Phone Number" value="@Model.Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Phone Number'">
                    <input type="email" class="form-control" name="Email" placeholder="Your Email Address" value="@Model.Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'">
                    <input type="text" class="form-control" name="Address" placeholder="Your Address" value="@Model.Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Address'">
                    <input type="text" class="form-control" name="Company" placeholder="Your Company" value="@Model.Company">
                    <button type="submit" class="primary-btn text-uppercase">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>