@using PagedList;
@using PagedList.Mvc;
@using Context.Database;

@model IPagedList<User>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var listUser = Model.ToList() as List<User>;
}

<section class="content">
    <div class="col-lg-12">
        <div class="Search_Result">

            <div class="box">
                <div class="box-body no-padding">

                    <table class="table table-bordered table-hover dataTable">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Birthday</th>
                                <th>Address</th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in listUser)
                            {

                                <tr id="item-@item.Id">
                                    <td class="notranslate">@item.Id</td>
                                    <td>@item.Name</td>
                                    <td>@item.Phone</td>
                                    <td>@item.Email</td>
                                    <td>@item.BirthDay</td>
                                    <td>@item.Address</td>

                                    <td class="options">
                                        <div class="btn-group pull-left">
                                            <a class="btn btn-default" href="#" title="Chỉnh sửa">
                                                <i class="fa fa-edit fa-fw"></i>
                                            </a>
                                            <a class="btn btn-danger btn-admin-action"
                                               data-id="@item.Id"
                                               data-action="xóa"
                                               data-api="/Admin/DeleteHouse"
                                               title="Xóa"><i class="fa fa-trash fa-fw"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <div class="box-footer clearfix">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="dataTables_info" role="status" aria-live="polite">Total: <b>@Model.TotalItemCount</b> data</div>
                        </div>
                        <div class="col-sm-8">
                            @Html.PagedListPager(Model, page => Url.Action("ListUser", new { page }))
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="add-modal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <form enctype="multipart/form-data" method="post">
            <div class="modal-content" id="add-modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Thêm mới 
                        
                    </h4>
                </div>
                <div class="modal-body">
                    @*@Html.Partial(addview_name, new_item)*@
                    

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="submit" class="btn btn-primary" id="btnAdd">Thêm</button>
                </div>
            </div>
        </form>
    </div>
</div>