@using AuthenticationManager = Web.Helper.Sercurity.AuthenticationManager
<header id="header" class="header-scrolled">
    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "userLogoutForm"}))
    {
        @Html.AntiForgeryToken()
    }
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="@Url.Action("index", "Home")">
                    <img src="@Url.Content("~/img/logo.png")" alt="" title=""/>
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li>@Html.ActionLink("Home", "index", "Home")</li>
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Course")">Courses</a>
                    </li>
                    <li>
                        <a href="events.html">Events</a>
                    </li>
                    <li>
                        <a href="gallery.html">Gallery</a>
                    </li>
                    <li class="menu-has-children">
                        <a href="">Blog</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    @{
                        ViewBag.Title = "Contact";
                        if (!AuthenticationManager.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Login", "Account")">Login</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register", "Account")" class="user-logout-link">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="menu-has-children">
                                <a href="#">Account</a>
                                <ul>
                                    <li>
                                        <a href="course-details.html">History</a>
                                    </li>
                                    <li>
                                        <a href="event-details.html">Billing History</a>
                                    </li>
                                    <li>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        <a href="elements.html">Become an instructor</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ResetPassword","Account")">ResetPassword</a>
                                    </li>
                                    <li>
                                        
                                        <a href="@Url.Action("Logout", "Account")" id="userLogoutLink">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }
                    
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>