@using Web.Areas.Instructor
@using Model.Enum;
@using AuthenticationManager = Web.Helper.Sercurity.AuthenticationManager
<header id="header" class="header-scrolled">
    @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new {id = "userLogoutForm"}))
    {
        @Html.AntiForgeryToken()
    }
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="@Url.Action("index", "Home")">
                    <img src="@Url.Content("~/img/logo.png")" alt="" title=""/>
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li>@Html.ActionLink("Home", "index", "Home")</li>
                    <li>
                        <a href="@Url.Action("Index", "Course")">Courses</a>
                    </li>                    
                    @*<li class="menu-has-children">
                        <a href="">Categories</a>
                        <ul>
                            <li><a href="blog-home.html">Blog Home</a></li>
                            <li><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>*@
                    @{
                        ViewBag.Title = "Contact";
                        if (!AuthenticationManager.IsAuthenticated)
                        {
                            <li>
                                <a href="@Url.Action("Login", "Account")">Login</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register", "Account")" class="user-logout-link">Register</a>
                            </li>
                        }
                        else
                        {
                            <li class="menu-has-children">
                                <a href="#">Account</a>
                                <ul>
                                    <li>
                                        <a href="@Url.Action("Index", "User")">Billing History</a>
                                    </li>
                                    <li>
                                        <div class="clearfix"></div>
                                    </li>
                                    <li>
                                        @if (!AuthenticationManager.Is(RoleEnum.Author))
                                        {
                                            <a href="@Url.Action("Index","Instructor")">Become an instructor</a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Index", "Dashboard", new {area="Instructors"})">Instructor dashboard</a>
                                        }
                                    </li>
                                    <li>
                                        <a href="@Url.Action("ResetPassword","Account")">Change password</a>
                                    </li>
                                    <li>
                                        
                                        <a href="@Url.Action("Logout", "Account")" id="userLogoutLink">Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                    }                   
                </ul>
            </nav>
        </div>
    </div>
</header>