@model Web.Areas.Instructors.Models.LessonItemViewModel

<tr data-lesson-id="@Model.Id">
    <td><a href="@Url.Action("CoursePlay","Course", new {id=Model.CourseId, area="", video=Model.Id})" target="_blank">@Model.Title</a></td>
    <td><span>@Model.CreatedDate</span></td>
    <td>
        @if (Model.IsPreview)
        {
            <input type="checkbox" name="IsPreview" checked class="flat-red" disabled>
        }
        else
        {
            <input type="checkbox" name="IsPreview" class="flat-red" disabled>
        }

    </td>
    <td>
        @if (Model.IsEnable)
        {
            <input type="checkbox" name="IsEnable" checked class="flat-red" disabled>
        }
        else
        {
            <input type="checkbox" name="IsEnable" class="flat-red" disabled>
        }
    </td>
    <td>
        <div>
            <div class="btn-group">
                <button data-id="@Model.Id" type="button" class="update-lesson btn btn-default">Update</button>
                <button data-id="@Model.Id" type="button" class="delete-lesson btn btn-danger">Delete</button>
            </div>                        
        </div>
    </td>
</tr>