



@using Context.Database
@using PagedList.Mvc
@using Web.Areas.Admin.Models
@model PagedList.IPagedList<Web.Areas.Admin.Models.ReportModel>
@{

    var listReport= Model.ToList() as List<ReportModel>;
}

<div class="box">
    <div class="box-body no-padding">

        <table class="table table-bordered table-hover dataTable">
            <thead>
                <tr>
                    
                    <th>Name</th>
                    <th>Total Course</th>
                    <th>Total Order</th>
                    <th>Total Money</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in listReport)
                {

                    <tr id="item-@item.UserId">
                        <td>@item.Name</td>
                        <td><a href="@Url.Action("ManageCourse", "Course", new { userId = item.UserId })">@item.CountCourse</a></td>
                        <td><a href="@Url.Action("ManageOrder", "Order", new { userId = item.UserId })">@item.CountOrder</a></td>
                        <td>@item.TotalMoney</td>
                    </tr>

                }
            </tbody>
        </table>

    </div>
    <div class="box-footer clearfix">
        <div class="row">
            <div class="col-sm-4">
                <div class="dataTables_info" role="status" aria-live="polite">Total: <b>@Model.TotalItemCount</b> data</div>
            </div>
            <div class="col-sm-8">
                @Html.PagedListPager(Model, page => "#" + page)
            </div>
        </div>
    </div>
</div>