@model Web.Areas.Instructors.Models.CourseItemViewModel
<div class="col-md-4">
    <div class="box box-widget widget-user course-img">
        <div class="widget-user-header bg-black" style="height:155px; background: url('@Url.Content("~/img/courses/"+Model.Image)') center center;">
            @*<img src="~/img/courses/@Model.Image" height="155p />*@
        </div>
        <div class="widget-user-header bg-gray">
            <a href="@Url.Action("Details", "Course", new {id=Model.Id})" class="widget-user-username">@Model.Title</a>
            <h5 class="widget-user-desc">@Model.Category.CategoryName</h5>
            <h5 class="widget-user-desc">@Model.CreateDate</h5>
        </div>
        <div class="box-footer">
            <div class="row">
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.Orders.Count()</h5>
                        <span class="description-text">SALES</span>
                    </div>
                </div>
                <div class="col-sm-4 border-right">
                    <div class="description-block">
                        <h5 class="description-header">@Model.ModuleItemViewModels.Count()</h5>
                        <span class="description-text">MODULES</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="description-block">
                        <h5 class="description-header">@Model.Comments.Count()</h5>
                        <span class="description-text">Comments</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
