@model Web.Areas.Instructors.Models.CreateCourseViewModel

@{ 
    var categories = ViewBag.Category;
}
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <button id="courseReset" class="btn btn-secondary">Reset</button>
            <button id="coursePublish" class="pull-right btn btn-large btn-info">Save as Draff</button>
        </div>        
    </div>
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">Course Creation</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-12">
                    <form action="@Url.Action("Create","Course")" method="post" id="creationCourseForm" enctype="multipart/form-data">
                        <div class="form-group">
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Course title</label>
                            <input type="text" name="Title" required class="form-control" value="@Model.Title" placeholder="Course title">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Category</label>
                            <select class="form-control" name="CategoryId" required>
                                @foreach (var cate in categories)
                                {
                                    if (Model.CategoryId == cate.id)
                                    {
                                        <option value="@cate.id" selected>@cate.CategoryName</option>
                                    }
                                    else
                                    {
                                        <option value="@cate.id">@cate.CategoryName</option>
                                    }

                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Price</label>
                            <input type="number" name="Price" max="10000" min="0" required value="@Model.Price" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Prerequisites</label>
                            <input type="text" name="Prerequisites" class="form-control" required value="@Model.Prerequisites" placeholder="Course Prerequisites">
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Course description</label>
                            <textarea class="form-control" name="Description" rows="3">@Model.Description</textarea>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Course Commnent</label>
                            <textarea class="form-control" name="Comment" rows="3">@Model.Comment</textarea>
                        </div>

                        <div class="form-group">
                            <label class="btn btn-default btn-file">
                                Choose Image<input type="file" name="image" accept="image/*" required style="display: none;">
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>