@model Web.Areas.Instructors.Models.DashboardViewModels

@{
    var categories = ViewBag.Category;
}
<section class="content-header">
    <h1>
        Author dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard", new {area="Instructor"})"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content" id="createdCourseArea">
    <h2 class="page-header">Courses review</h2>
    <!-- Begin Course view-->
    <div class="row course-display-area">
        <div class="col-md-12">
            <form action="@Url.Action("Search", "Course")" id="AuthorCourseSearchForm" method="POST" class="form-inline" role="form">
                <div class="form-group">
                    <label class="sr-only" for="SearchCourse">Search</label>
                    <input type="text" name="Title" class="form-control" id="SearchCourse" placeholder="Input field">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="SearchCourse">Category</label>
                    <select name="CategoryId" class="form-control">
                        <option value="">All</option>
                        @foreach (var cate in categories)
                        {
                            <option value="@cate.id">@cate.CategoryName</option>
                        }
                    </select>
                </div>
                <button id="authorCourseSearchSubmit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
    <hr />
   
    <div class="row course-item-display">
        @foreach (var course in Model.AuthorCoursesViewModels)
        {
            @Html.Partial("CourseItem",course)
        }
    </div>

</section>
