
@using Context.Database
@model IEnumerable<Context.Database.Category>
@{
    var listCategory = Model.ToList() as List<Category>;
}



<ul>
    @foreach (var item in listCategory)
    {
        var courses = item.GetCourses();
        var hasCourse = courses.Count() > 0;

        <li class="@(hasCourse ? "parent_li" : "can-delete") ">
            <span data-id="@item.id" class="text-success">
                <i class="@(hasCourse ? "fa fa-plus-square-o" : "")"></i>&nbsp;
                &nbsp;
                @item.CategoryName &nbsp;

                <a class="btn-edit-category"
                   data-toggle="modal"
                   data-target="#myModaledit"
                   data-id="@item.id"
                   data-api="/Admin/Category/GetEditCategory"
                   title="Edit">
                    <i class="fa fa-edit fa-fw"></i>
                </a>

                <a class="btn-admin-action text-danger"
                   data-id="@item.id"
                   data-action="Delete"
                   data-api="/Admin/Category/DeleteCategory"
                   title="Xóa nhân viên"><i class="fa fa-trash fa-fw"></i></a>
                <div class="modal fade" id="myModaleditCategory" role="dialog" aria-labelledby="myModalLabeledit" aria-hidden="true">
                    <div class="modal-dialog ">
                        <form enctype="multipart/form-data" method="post" data-api="/Admin/Category/EditCategory">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabeledit">Update</h4>
                                </div>
                                <div class="modal-body">


                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="padding: 6px 12px;">Cancel</button>
                                    <button type="submit" class="btn btn-primary btnEdit" style="padding: 6px 12px;">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </span>
        </li>
        
    }
</ul>

