@model Web.Areas.Instructors.Models.DashboardViewModels
<section class="content-header">
    <h1>
        Author dashboard
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index","Dashboard", new {area="Instructor"})"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <h2 class="page-header">Summary information</h2>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Created courses</span>
                    <span class="info-box-number">@Model.AuthorSummaryInfoViewModel.TotalCourses</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-red"><i class="ion ion-social-usd"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total revenue</span>
                    <span class="info-box-number">$@Model.AuthorSummaryInfoViewModel.TotalPricePaid</span>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total enrollments</span>
                    <span class="info-box-number">@Model.AuthorSummaryInfoViewModel.TotalUserEnrolled</span>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">New Members</span>
                    <span class="info-box-number">2,000</span>
                </div>
            </div>
        </div>
    </div>

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Lasted Created courses</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                @foreach (var course in Model.AuthorCoursesViewModels)
                {
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="info-box bg-teal">
                            <span class="info-box-icon"><img onerror="this.src='http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'" src="~/img/courses/@course.Image" alt="@course.Title"></span>

                            <div class="info-box-content">
                                <span class="info-box-text">@course.Title</span>
                                <span class="info-box-number">@course.CreateDate</span>
                                <span class="progress-description">@course.Description</span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>