@model Web.Models.CoursePlayViewModel
<section class="course-details-area pt-120">
    <div class="container-fluid">
        <div class="row row-eq-height">
            <div class="col-lg-8 col-sm-12 left-contents">
                <div id="videoPlayerSection">
                    <video crossorigin playsinline data-plyr-config='{ "title": "This is an example video", "ratio": "16:9"}' id="player">
                        <source src="/api/media?f=@Model.CurrentLesson.Path" type="video/mp4" size="1080">
                    </video>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12 col-md-12 right-contents">
                <div>
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tableOfContent" aria-controls="tableOfContent" role="tab" data-toggle="tab">Course outline</a></li>
                        <li role="presentation"><a href="#courseDescription" aria-controls="courseDescription" role="tab" data-toggle="tab">Description</a></li>
                        <li role="presentation"><a href="#courseDisscuss" aria-controls="courseDisscuss" role="tab" data-toggle="tab">Discussion</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tableOfContent">
                            <div>
                                <div class="clearfix"></div>
                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                                    @foreach (var module in Model.CourseModuleViewModels)
                                    {
                                        var moduleId = "collapseModule" + module.Id;
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingModule1">
                                                <h4 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@moduleId" aria-expanded="true" aria-controls="collapseOne">
                                                        @module.Name
                                                    </a>
                                                </h4>
                                            </div>
                                            <div id="@moduleId" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@moduleId">
                                                <div class="panel-body">
                                                    <ul class="list-group">
                                                        @foreach (var lesson in module.CourseLessonViewModels)
                                                        {
                                                            <li class="list-group-item"><a href="@Url.Action("CoursePlay", "Course", new{ id=@Model.CourseItemViewModel.Id, video=lesson.Id})">@lesson.Title</a></li>
                                                        }
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="courseDescription">
                            <div class="clearfix"></div>
                            <p class="">
                                @Model.CourseItemViewModel.Description
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="courseDisscuss">
                            <div id="disqus_thread"></div>
                            <script>
									(function() { // DON'T EDIT BELOW THIS LINE
									var d = document, s = d.createElement('script');
									s.src = 'https://aptechsem3finalproject.disqus.com/embed.js';
									s.setAttribute('data-timestamp', +new Date());
									(d.head || d.body).appendChild(s);
									})();
                            </script>
                            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>