@model Web.Models.CourseDetailViewModel
@using AuthenticationManager = Web.Helper.Sercurity.AuthenticationManager
@{
    ViewBag.Title = "Course Detail";
}

<section class="course-details-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 left-contents">
                <div class="main-image">
                    <img onerror="this.src='http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'" class="img-fluid" src="@Url.Content("~/img/courses/"+Model.CourseListItemViewModel.Image)" alt="">
                </div>
                <div class="jq-tab-wrapper" id="horizontalTab">
                    <div class="jq-tab-menu">
                        <div class="jq-tab-title active" data-tab="1">Objectives</div>
                        <div class="jq-tab-title" data-tab="2">Prerequisites</div>
                        <div class="jq-tab-title" data-tab="3">Course Outline</div>
                        <div class="jq-tab-title" data-tab="4" data-tab-name="comment">Comments</div>
                    </div>
                    <div class="jq-tab-content-wrapper">
                        <div class="jq-tab-content active" data-tab="1">
                            @Model.CourseListItemViewModel.Description
                        </div>
                        <div class="jq-tab-content" data-tab="2">
                            @Model.CourseListItemViewModel.Description
                        </div>
                        <div class="jq-tab-content" data-tab="3">
                            <ul class="course-list">
                                @{
                                    foreach (var courseOutline in Model.CourseOutline)
                                    {
                                        <li class="justify-content-between d-flex">
                                            <p>@courseOutline.Name</p>
                                            @*<a class="primary-btn text-uppercase" href="#">View Details</a>*@
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <div class="jq-tab-content comment-wrap" data-tab="4">
                            <div class="comments-area">

                            </div>
                            <div class="comment-form">
                                <h4>Leave a Comment</h4>
                                @if (AuthenticationManager.IsAuthenticated)
                                {
                                    <form id="CommentForm" class="form form-horizontal" method="post" action="@Url.Action("Create", "Comment", new { Id = Model.CourseListItemViewModel.Id })">
                                        <div class="form-group">
                                            <textarea class="form-control mb-10" rows="5" name="Content" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
                                        </div>
                                        <button id="PostCommentBtn" class="mt-40 text-uppercase genric-btn primary text-center">Post Comment</button>
                                    </form>
                                }
                                else
                                {
                                    <div>You must be logged to post a comment</div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 right-contents">
                <ul>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Trainer’s Name</p>
                            <span class="or">@Model.Author.Name</span>
                        </a>
                    </li>
                    <li>
                        <a class="justify-content-between d-flex" href="#">
                            <p>Course Fee </p>
                            @{
                                if (Model.CourseListItemViewModel.Price == 0)
                                {
                                    <span>Free</span>
                                }
                                else
                                {
                                    <span>$@Model.CourseListItemViewModel.Price</span>
                                }
                            }

                        </a>
                    </li>
                </ul>
                @{
                    if (Model.CourseListItemViewModel.Price == 0)
                    {
                        <a href="@Url.Action("CoursePlay", "Course", new {id = Model.CourseListItemViewModel.Id})" class="primary-btn text-uppercase">Enroll the course</a>
                    }
                    else
                    {
                        if (Model.IsPaid)
                        {
                            <a href="@Url.Action("CoursePlay", "Course", new {id = Model.CourseListItemViewModel.Id})" class="primary-btn text-uppercase">Enroll the course</a>
                        }
                        else
                        {
                            <a href="@Url.Action("PaymentWithPaypal", "Payment", new {id = Model.CourseListItemViewModel.Id})" class="primary-btn text-uppercase">Pay for enrollment</a>
                        }

                    }
                }

            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script>

    $(document).ready(function () {
        const loadingGif = '<div id="fountainG"><div id = "fountainG_1" class="fountainG" ></div><div id="fountainG_2" class="fountainG"></div><div id="fountainG_3" class="fountainG"></div><div id="fountainG_4" class="fountainG"></div><div id="fountainG_5" class="fountainG"></div><div id="fountainG_6" class="fountainG"></div><div id="fountainG_7" class="fountainG"></div><div id="fountainG_8" class="fountainG"></div>"</div>';
        var isCommmentClicked = false;
        $(document).on('click', "[data-tab-name='comment']", function () {
            $(".comments-area").append(loadingGif);
            if (!isCommmentClicked) {
                var POST_CMT_URL = '@Url.Action("Index", "Comment", new {Id=Model.CourseListItemViewModel.Id})';

                $.ajax({
                    url: POST_CMT_URL,
                    type: 'GET',
                    processData: false,
                    contentType: false,
                    success: function (result) {
                        $(".comments-area").empty();
                        $(".comments-area").append(result);
                    },
                    error: function () {
                        alert('Has error orcurred');
                    }
                });
            }
            isCommmentClicked = true;
        });

        $(document).on('click', "#PostCommentBtn", function () {
            event.preventDefault();
            var formElement = $('#CommentForm');
            var formData = new FormData(formElement[0]);
            var postUrl = formElement.attr('action');
            var commentDisplayArea = $('.comments-area');
            $.ajax({
                url: postUrl,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (result) {
                    commentDisplayArea.append(result);
                    $('.comments-area').find('h4').text($('.comments-area .comment-list').length+ " comments");
                    formElement.trigger('reset');
                },
                error: function () {
                    alert('Has error orcurred when posting your comment');
                }
            });
        });
    });
    </script>
}