@model Web.Models.ShowCoursesViewModel

@{
    ViewBag.Title = "Index";
    var categories = ViewBag.Category;
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    All courses
                </h1>
                <p class="text-white link-nav"><a href="@Url.Action("Index", "Home")">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("Index", "Course")"> All Course</a></p>
            </div>
        </div>
    </div>
</section>
<section class="whole-wrap relative section-course-search">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <form id="CourseSearchForm" method="post" action="@Url.Action("Search", "Course")" class="form-inline" role="form">

                    <div class="form-group">
                        <input type="text" name="title" class="form-control" placeholder="Course name">
                    </div>
                    <div class="form-group">
                        <select name="category" class="form-control">
                            <option value="">All</option>
                            @foreach (var cate in categories)
                            {
                                <option value="@cate.id">@cate.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <button id="CourseSearchBtn" class="btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-10 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Popular Courses we offer</h1>
                    <p>There is a moment in the life of any aspiring.</p>
                </div>
            </div>
        </div>
        <div id="courseDisplayArea" class="row">

            @foreach (var courseItem in Model.PopularCourses)
            {
                @Html.Partial("CourseItem", courseItem)
            }
        </div>
        <div class="row">
            <div class="col col-md-5">
            </div>
            <div class="col col-md-3">
                <button href="#" id="loadMoreCourse" class="primary-btn text-uppercase mx-auto">Load More Courses</button>
            </div>
            <div class="col col-md-4">
            </div>
        </div>
    </div>
</section>
<!-- End popular-courses Area -->

<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Lasted courses</h1>
                    <p>There is a moment in the life of any aspiring.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var courseItem in Model.LastedCourses)
            {
                @Html.Partial("CourseItem", courseItem)
            }
        </div>
    </div>
</section>

