@model Web.Models.ShowCoursesViewModel

@{
    ViewBag.Title = "Index";
}

<section class="banner-area relative about-banner" id="home">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Popular Courses
                </h1>
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="@Url.Action("Index", "Course")"> Popular Courses</a></p>
            </div>
        </div>
    </div>
</section>
<!-- End banner Area -->
<!-- Start popular-courses Area -->
<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Popular Courses we offer</h1>
                    <p>There is a moment in the life of any aspiring.</p>
                </div>
            </div>
        </div>
        <div id="courseDisplayArea" class="row">

            @foreach (var courseItem in Model.PopularCourses)
            {
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img onerror="this.src='http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'" class="img-fluid" src="@Url.Content("~/img/courses/"+courseItem.Image)" alt="Course image">
                    </div>
                    <p class="meta">@Html.DisplayFor(item => courseItem.CreateDate) |  By <a href="#">@courseItem.Author.Name</a></p>
                    <a href="@Url.Action("CourseDetail", "Course", new { id = courseItem.Id })">
                        <h5> @courseItem.Title</h5>
                    </a>
                    <p>
                        @courseItem.Description
                    </p>
                    <a href="@Url.Action("CourseDetail", "Course", new { id = courseItem.Id })" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            }
        </div>
        <div class="row">
            <div class="col col-md-5">
            </div>
            <div class="col col-md-3">
                <button href="#" id="loadMoreCourse" class="primary-btn text-uppercase mx-auto">Load More Courses</button>
            </div>
            <div class="col col-md-4">
            </div>
        </div>
    </div>
</section>
<!-- End popular-courses Area -->

<section class="popular-courses-area section-gap courses-page">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Lasted courses</h1>
                    <p>There is a moment in the life of any aspiring.</p>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var courseItem in Model.LastedCourses)
            {
                <div class="col-lg-3 col-md-6 single-blog">
                    <div class="thumb">
                        <img onerror="this.src='http://www.wellesleysocietyofartists.org/wp-content/uploads/2015/11/image-not-found.jpg'" class="img-fluid" src="@Url.Content("~/img/courses/"+courseItem.Image)" alt="Course image">
                    </div>
                    <p class="meta">@Html.DisplayFor(item => courseItem.CreateDate) |  By <a href="#">@courseItem.Author.Name</a></p>
                    <a href="@Url.Action("CourseDetail", "Course", new { id = courseItem.Id })">
                        <h5> @courseItem.Title</h5>
                    </a>
                    <p>
                        @courseItem.Description
                    </p>
                    <a href="@Url.Action("CourseDetail", "Course", new { id = courseItem.Id })" class="details-btn d-flex justify-content-center align-items-center"><span class="details">Details</span><span class="lnr lnr-arrow-right"></span></a>
                </div>
            }
        </div>
    </div>
</section>

